* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(243, 243, 243);
  margin: 0; /**/
  padding: 0;
  display: flex;
  justify-content: center;
}

.instacao-wraper {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  height: 100vh;
}

.instacao-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.instacao-phone img {
  width: 25rem;
}

.login-area {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  min-height: 35rem;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  padding: 1.3rem 0;
  border: 1px solid #d3d3d3;
  margin: 0.5rem;
}

.group:nth-child(1) {
  min-width: 19rem;
}

.instacao-logo {
  height: 3rem;
}

.profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  margin: 1rem;
}
.profile-photo img {
  height: 6rem;
}

.instacao-login {
  background-color: #0095f6;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
}

.instacao-logout {
  color: #0095f6;
  margin-top: 1rem;
}
.notaccount {
  color: rgb(160, 160, 160);
}

.blue-link {
  color: #0095f6;
}

.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
  font-weight: 900;
}

.download {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.app-download {
  height: 4rem;
  width: 15rem;
  background-size: cover;
  margin: 0.2rem;
}

.app-download:nth-child(1) {
  background-image: url('./images/petstore.png');
}

.app-download:nth-child(2) {
  background-image: url('./images/doogleplay.png');
}

@media (max-width: 1024px) {
  .instacao-wraper {
    width: 90%;
  }
}

@media (max-width: 650px) {
  .instacao-wraper {
    width: 90%;
  }

  .instacao-phone {
    display: none;
  }

  .login-area {
    width: 100%;
  }
}
